<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Busqueda</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Rest API con Flask</a>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <h1></h1>
        <h3>Obtener los registro</h3>
        <p>Enviar en el header <pre>Authorization:Basic Sm9lbC5yaXZlcmE6Sm9lbFJfMjAxNw==</pre></p>
        <h4>Obtener registros</h4>
        <p>debe enviar los siguientes campos para filtrar con el metodo "GET", todos son opcionales</p>
        <span>limit, id, nombre, puesto</span>
        <p>ejemplo: <pre>http://18.220.137.233:5000/ver?limit=10</pre></p>
        <h3>Insertar registro</h3>
        <p>Debe enviar una peticion tipo "POST" enviando un json con uno o mas registros a insertar </p>
        <pre>ejemplo:
            http://18.220.137.233:5000/agregar
                [{
                    "nombre": "lupita",
                    "fecha_nacimiento": "10-02-1990",
                    "puesto": "administradora"
                },{
                    "nombre": "ana",
                    "fecha_nacimiento": "10-02-1990",
                    "puesto": "mantenimiento"
                }]
        </pre>
        <h3>Modificar registro</h3>
        <p>Debe enviar una peticion tipo "PUT" enviando un json con los datos y id de la persona a modificar</p>
        <pre>
        ejemplo: 
        http://18.220.137.233:5000/modificar
                [{
                    "id"= 5,
                    "nombre": "lupita",
                    "fecha_nacimiento": "10-02-1990",
                    "puesto": "mantenimiento"
                }]
        nota: el "id" los demas campos son opcionales
        </pre>
        <h3>Eliminar registro</h3>
        <p>Debe enviar una peticion tipo "DELETE" enviando id de la persona a modificar</p>
        <pre>
            ejemplo:
            http://18.220.137.233:5000/eliminar?id=1
        </pre>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>